# ISLR Library

In [26]:
install.packages("ISLR")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [27]:
library("ISLR")

In [28]:
rm(list=ls())

# Exercício

## ISLR::Auto

In [29]:
df_auto <- ISLR::Auto
df_auto$cylinders <- factor(df_auto$cylinders)
df_auto$origin <- factor(df_auto$origin)
head(df_auto)

  mpg cylinders displacement horsepower weight acceleration year origin
1 18  8         307          130        3504   12.0         70   1
2 15  8         350          165        3693   11.5         70   1
3 18  8         318          150        3436   11.0         70   1
4 16  8         304          150        3433   12.0         70   1
5 17  8         302          140        3449   10.5         70   1
6 15  8         429          198        4341   10.0         70   1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

In [30]:
null_auto_lm <- lm(mpg ~ 1, data = df_auto)
summary(null_auto_lm)

Call:
lm(formula = mpg ~ 1, data = df_auto)

Residuals:
     Min       1Q   Median       3Q      Max
-14.4459  -6.4459  -0.6959   5.5541  23.1541

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  23.4459     0.3942   59.48   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 7.805 on 391 degrees of freedom

In [31]:
full_auto_lm <- lm(mpg ~ cylinders + displacement + horsepower + weight + acceleration + year + origin, data = df_auto)
summary(full_auto_lm)

Call:
lm(formula = mpg ~ cylinders + displacement + horsepower + weight +
    acceleration + year + origin, data = df_auto)

Residuals:
    Min      1Q  Median      3Q     Max
-8.6797 -1.9373 -0.0678  1.6711 12.7756

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)  -2.208e+01  4.541e+00  -4.862 1.70e-06 ***
cylinders4    6.722e+00  1.654e+00   4.064 5.85e-05 ***
cylinders5    7.078e+00  2.516e+00   2.813  0.00516 **
cylinders6    3.351e+00  1.824e+00   1.837  0.06701 .
cylinders8    5.099e+00  2.109e+00   2.418  0.01607 *
displacement  1.870e-02  7.222e-03   2.590  0.00997 **
horsepower   -3.490e-02  1.323e-02  -2.639  0.00866 **
weight       -5.780e-03  6.315e-04  -9.154  < 2e-16 ***
acceleration  2.598e-02  9.304e-02   0.279  0.78021
year          7.370e-01  4.892e-02  15.064  < 2e-16 ***
origin2       1.764e+00  5.513e-01   3.200  0.00149 **
origin3       2.617e+00  5.272e-01   4.964 1.04e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.098 on 380 degrees of freedom
Multiple R-squared:  0.8469,	Adjusted R-squared:  0.8425
F-statistic: 191.1 on 11 and 380 DF,  p-value: < 2.2e-16

In [32]:
auto_step_forward <- step(null_auto_lm, scope=formula(full_auto_lm), direction='forward', trace=0)
summary(auto_step_forward)

Call:
lm(formula = mpg ~ weight + year + cylinders + origin + horsepower +
    displacement, data = df_auto)

Residuals:
    Min      1Q  Median      3Q     Max
-8.7037 -1.9501 -0.0552  1.7105 12.7932

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)  -2.162e+01  4.231e+00  -5.111 5.09e-07 ***
weight       -5.696e-03  5.535e-04 -10.291  < 2e-16 ***
year          7.358e-01  4.868e-02  15.114  < 2e-16 ***
cylinders4    6.784e+00  1.637e+00   4.144 4.20e-05 ***
cylinders5    7.147e+00  2.501e+00   2.857 0.004510 **
cylinders6    3.403e+00  1.813e+00   1.877 0.061262 .
cylinders8    5.137e+00  2.102e+00   2.444 0.014983 *
origin2       1.763e+00  5.506e-01   3.203 0.001476 **
origin3       2.621e+00  5.264e-01   4.979 9.71e-07 ***
horsepower   -3.706e-02  1.071e-02  -3.459 0.000604 ***
displacement  1.848e-02  7.169e-03   2.578 0.010312 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.094 on 381 degrees of freedom
Multiple R-squared:  0.8469,	Adjusted R-squared:  0.8429
F-statistic: 210.7 on 10 and 381 DF,  p-value: < 2.2e-16

In [33]:
auto_step_backward <- step(full_auto_lm, direction='backward', trace=0)
summary(auto_step_backward)

Call:
lm(formula = mpg ~ cylinders + displacement + horsepower + weight +
    year + origin, data = df_auto)

Residuals:
    Min      1Q  Median      3Q     Max
-8.7037 -1.9501 -0.0552  1.7105 12.7932

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)  -2.162e+01  4.231e+00  -5.111 5.09e-07 ***
cylinders4    6.784e+00  1.637e+00   4.144 4.20e-05 ***
cylinders5    7.147e+00  2.501e+00   2.857 0.004510 **
cylinders6    3.403e+00  1.813e+00   1.877 0.061262 .
cylinders8    5.137e+00  2.102e+00   2.444 0.014983 *
displacement  1.848e-02  7.169e-03   2.578 0.010312 *
horsepower   -3.706e-02  1.071e-02  -3.459 0.000604 ***
weight       -5.696e-03  5.535e-04 -10.291  < 2e-16 ***
year          7.358e-01  4.868e-02  15.114  < 2e-16 ***
origin2       1.763e+00  5.506e-01   3.203 0.001476 **
origin3       2.621e+00  5.264e-01   4.979 9.71e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.094 on 381 degrees of freedom
Multiple R-squared:  0.8469,	Adjusted R-squared:  0.8429
F-statistic: 210.7 on 10 and 381 DF,  p-value: < 2.2e-16

In [34]:
auto_step_both <- step(full_auto_lm, direction = "both", trace = 0)
summary(auto_step_both)

Call:
lm(formula = mpg ~ cylinders + displacement + horsepower + weight +
    year + origin, data = df_auto)

Residuals:
    Min      1Q  Median      3Q     Max
-8.7037 -1.9501 -0.0552  1.7105 12.7932

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)  -2.162e+01  4.231e+00  -5.111 5.09e-07 ***
cylinders4    6.784e+00  1.637e+00   4.144 4.20e-05 ***
cylinders5    7.147e+00  2.501e+00   2.857 0.004510 **
cylinders6    3.403e+00  1.813e+00   1.877 0.061262 .
cylinders8    5.137e+00  2.102e+00   2.444 0.014983 *
displacement  1.848e-02  7.169e-03   2.578 0.010312 *
horsepower   -3.706e-02  1.071e-02  -3.459 0.000604 ***
weight       -5.696e-03  5.535e-04 -10.291  < 2e-16 ***
year          7.358e-01  4.868e-02  15.114  < 2e-16 ***
origin2       1.763e+00  5.506e-01   3.203 0.001476 **
origin3       2.621e+00  5.264e-01   4.979 9.71e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3.094 on 381 degrees of freedom
Multiple R-squared:  0.8469,	Adjusted R-squared:  0.8429
F-statistic: 210.7 on 10 and 381 DF,  p-value: < 2.2e-16

## ISLR::Carseats

In [35]:
df_carseats<- ISLR::Carseats
head(df_carseats)

  Sales CompPrice Income Advertising Population Price ShelveLoc Age Education
1  9.50 138        73    11          276        120   Bad       42  17
2 11.22 111        48    16          260         83   Good      65  10
3 10.06 113        35    10          269         80   Medium    59  12
4  7.40 117       100     4          466         97   Medium    55  14
5  4.15 141        64     3          340        128   Bad       38  13
6 10.81 124       113    13          501         72   Bad       78  16
  Urban US
1 Yes   Yes
2 Yes   Yes
3 Yes   Yes
4 Yes   Yes
5 Yes   No
6 No    Yes

In [36]:
null_carseats_lm <- lm(Sales ~ 1, data = df_carseats)
summary(null_carseats_lm)

Call:
lm(formula = Sales ~ 1, data = df_carseats)

Residuals:
    Min      1Q  Median      3Q     Max
-7.4963 -2.1063 -0.0063  1.8237  8.7737

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   7.4963     0.1412   53.09   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.824 on 399 degrees of freedom

In [37]:
full_carseats_lm <- lm(Sales ~ CompPrice + Income + Advertising + Population + Price + ShelveLoc + Age + Education + Urban + US, data = df_carseats)
summary(full_carseats_lm)

Call:
lm(formula = Sales ~ CompPrice + Income + Advertising + Population +
    Price + ShelveLoc + Age + Education + Urban + US, data = df_carseats)

Residuals:
    Min      1Q  Median      3Q     Max
-2.8692 -0.6908  0.0211  0.6636  3.4115

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)      5.6606231  0.6034487   9.380  < 2e-16 ***
CompPrice        0.0928153  0.0041477  22.378  < 2e-16 ***
Income           0.0158028  0.0018451   8.565 2.58e-16 ***
Advertising      0.1230951  0.0111237  11.066  < 2e-16 ***
Population       0.0002079  0.0003705   0.561    0.575
Price           -0.0953579  0.0026711 -35.700  < 2e-16 ***
ShelveLocGood    4.8501827  0.1531100  31.678  < 2e-16 ***
ShelveLocMedium  1.9567148  0.1261056  15.516  < 2e-16 ***
Age             -0.0460452  0.0031817 -14.472  < 2e-16 ***
Education       -0.0211018  0.0197205  -1.070    0.285
UrbanYes         0.1228864  0.1129761   1.088    0.277
USYes           -0.1840928  0.1498423  -1.229    0.220
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.019 on 388 degrees of freedom
Multiple R-squared:  0.8734,	Adjusted R-squared:  0.8698
F-statistic: 243.4 on 11 and 388 DF,  p-value: < 2.2e-16

In [38]:
carseats_step_forward <- step(null_carseats_lm, scope=formula(full_carseats_lm), direction='forward', trace=0)
summary(carseats_step_forward)

Call:
lm(formula = Sales ~ ShelveLoc + Price + CompPrice + Advertising +
    Age + Income, data = df_carseats)

Residuals:
    Min      1Q  Median      3Q     Max
-2.7728 -0.6954  0.0282  0.6732  3.3292

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)      5.475226   0.505005   10.84   <2e-16 ***
ShelveLocGood    4.835675   0.152499   31.71   <2e-16 ***
ShelveLocMedium  1.951993   0.125375   15.57   <2e-16 ***
Price           -0.095319   0.002670  -35.70   <2e-16 ***
CompPrice        0.092571   0.004123   22.45   <2e-16 ***
Advertising      0.115903   0.007724   15.01   <2e-16 ***
Age             -0.046128   0.003177  -14.52   <2e-16 ***
Income           0.015785   0.001838    8.59   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.019 on 392 degrees of freedom
Multiple R-squared:  0.872,	Adjusted R-squared:  0.8697
F-statistic: 381.4 on 7 and 392 DF,  p-value: < 2.2e-16

In [39]:
carseats_step_backward <- step(full_carseats_lm, direction='backward', trace=0)
summary(carseats_step_backward)

Call:
lm(formula = Sales ~ CompPrice + Income + Advertising + Price +
    ShelveLoc + Age, data = df_carseats)

Residuals:
    Min      1Q  Median      3Q     Max
-2.7728 -0.6954  0.0282  0.6732  3.3292

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)      5.475226   0.505005   10.84   <2e-16 ***
CompPrice        0.092571   0.004123   22.45   <2e-16 ***
Income           0.015785   0.001838    8.59   <2e-16 ***
Advertising      0.115903   0.007724   15.01   <2e-16 ***
Price           -0.095319   0.002670  -35.70   <2e-16 ***
ShelveLocGood    4.835675   0.152499   31.71   <2e-16 ***
ShelveLocMedium  1.951993   0.125375   15.57   <2e-16 ***
Age             -0.046128   0.003177  -14.52   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.019 on 392 degrees of freedom
Multiple R-squared:  0.872,	Adjusted R-squared:  0.8697
F-statistic: 381.4 on 7 and 392 DF,  p-value: < 2.2e-16

In [40]:
carseats_step_both <- step(full_carseats_lm, direction = "both", trace = 0)
summary(carseats_step_both)

Call:
lm(formula = Sales ~ CompPrice + Income + Advertising + Price +
    ShelveLoc + Age, data = df_carseats)

Residuals:
    Min      1Q  Median      3Q     Max
-2.7728 -0.6954  0.0282  0.6732  3.3292

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)      5.475226   0.505005   10.84   <2e-16 ***
CompPrice        0.092571   0.004123   22.45   <2e-16 ***
Income           0.015785   0.001838    8.59   <2e-16 ***
Advertising      0.115903   0.007724   15.01   <2e-16 ***
Price           -0.095319   0.002670  -35.70   <2e-16 ***
ShelveLocGood    4.835675   0.152499   31.71   <2e-16 ***
ShelveLocMedium  1.951993   0.125375   15.57   <2e-16 ***
Age             -0.046128   0.003177  -14.52   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.019 on 392 degrees of freedom
Multiple R-squared:  0.872,	Adjusted R-squared:  0.8697
F-statistic: 381.4 on 7 and 392 DF,  p-value: < 2.2e-16

## ISLR::Credit

In [41]:
df_credit <- ISLR::Credit
head(df_credit)

  ID Income  Limit Rating Cards Age Education Gender Student Married Ethnicity
1 1   14.891 3606  283    2     34  11         Male  No      Yes     Caucasian
2 2  106.025 6645  483    3     82  15        Female Yes     Yes     Asian
3 3  104.593 7075  514    4     71  11         Male  No      No      Asian
4 4  148.924 9504  681    3     36  11        Female No      No      Asian
5 5   55.882 4897  357    2     68  16         Male  No      Yes     Caucasian
6 6   80.180 8047  569    4     77  10         Male  No      No      Caucasian
  Balance
1  333
2  903
3  580
4  964
5  331
6 1151

In [42]:
null_credit_lm <- lm(Balance ~ 1, data = df_credit)
summary(null_credit_lm)

Call:
lm(formula = Balance ~ 1, data = df_credit)

Residuals:
    Min      1Q  Median      3Q     Max
-520.02 -451.26  -60.52  342.98 1478.99

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   520.02      22.99   22.62   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 459.8 on 399 degrees of freedom

In [43]:
full_credit_lm <- lm(Balance ~ Income + Limit + Rating + Cards + Age + Education + Gender + Student + Married + Ethnicity, data = df_credit)
summary(full_credit_lm)

Call:
lm(formula = Balance ~ Income + Limit + Rating + Cards + Age +
    Education + Gender + Student + Married + Ethnicity, data = df_credit)

Residuals:
    Min      1Q  Median      3Q     Max
-161.64  -77.70  -13.49   53.98  318.20

Coefficients:
                     Estimate Std. Error t value Pr(>|t|)
(Intercept)        -479.20787   35.77394 -13.395  < 2e-16 ***
Income               -7.80310    0.23423 -33.314  < 2e-16 ***
Limit                 0.19091    0.03278   5.824 1.21e-08 ***
Rating                1.13653    0.49089   2.315   0.0211 *
Cards                17.72448    4.34103   4.083 5.40e-05 ***
Age                  -0.61391    0.29399  -2.088   0.0374 *
Education            -1.09886    1.59795  -0.688   0.4921
GenderFemale        -10.65325    9.91400  -1.075   0.2832
StudentYes          425.74736   16.72258  25.459  < 2e-16 ***
MarriedYes           -8.53390   10.36287  -0.824   0.4107
EthnicityAsian       16.80418   14.11906   1.190   0.2347
EthnicityCaucasian   10.10703   12.20992   0.828   0.4083
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 98.79 on 388 degrees of freedom
Multiple R-squared:  0.9551,	Adjusted R-squared:  0.9538
F-statistic: 750.3 on 11 and 388 DF,  p-value: < 2.2e-16

In [44]:
credit_step_forward <- step(null_credit_lm, scope=formula(full_credit_lm), direction='forward', trace=0)
summary(credit_step_forward)

Call:
lm(formula = Balance ~ Rating + Income + Student + Limit + Cards +
    Age, data = df_credit)

Residuals:
    Min      1Q  Median      3Q     Max
-170.00  -77.85  -11.84   56.87  313.52

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -493.73419   24.82476 -19.889  < 2e-16 ***
Rating         1.09119    0.48480   2.251   0.0250 *
Income        -7.79508    0.23342 -33.395  < 2e-16 ***
StudentYes   425.60994   16.50956  25.780  < 2e-16 ***
Limit          0.19369    0.03238   5.981 4.98e-09 ***
Cards         18.21190    4.31865   4.217 3.08e-05 ***
Age           -0.62406    0.29182  -2.139   0.0331 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 98.61 on 393 degrees of freedom
Multiple R-squared:  0.9547,	Adjusted R-squared:  0.954
F-statistic:  1380 on 6 and 393 DF,  p-value: < 2.2e-16

In [45]:
credit_step_backward <- step(full_credit_lm, direction='backward', trace=0)
summary(credit_step_backward)

Call:
lm(formula = Balance ~ Income + Limit + Rating + Cards + Age +
    Student, data = df_credit)

Residuals:
    Min      1Q  Median      3Q     Max
-170.00  -77.85  -11.84   56.87  313.52

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -493.73419   24.82476 -19.889  < 2e-16 ***
Income        -7.79508    0.23342 -33.395  < 2e-16 ***
Limit          0.19369    0.03238   5.981 4.98e-09 ***
Rating         1.09119    0.48480   2.251   0.0250 *
Cards         18.21190    4.31865   4.217 3.08e-05 ***
Age           -0.62406    0.29182  -2.139   0.0331 *
StudentYes   425.60994   16.50956  25.780  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 98.61 on 393 degrees of freedom
Multiple R-squared:  0.9547,	Adjusted R-squared:  0.954
F-statistic:  1380 on 6 and 393 DF,  p-value: < 2.2e-16

In [46]:
credit_step_both <- step(full_credit_lm, direction = "both", trace = 0)
summary(credit_step_both)

Call:
lm(formula = Balance ~ Income + Limit + Rating + Cards + Age +
    Student, data = df_credit)

Residuals:
    Min      1Q  Median      3Q     Max
-170.00  -77.85  -11.84   56.87  313.52

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -493.73419   24.82476 -19.889  < 2e-16 ***
Income        -7.79508    0.23342 -33.395  < 2e-16 ***
Limit          0.19369    0.03238   5.981 4.98e-09 ***
Rating         1.09119    0.48480   2.251   0.0250 *
Cards         18.21190    4.31865   4.217 3.08e-05 ***
Age           -0.62406    0.29182  -2.139   0.0331 *
StudentYes   425.60994   16.50956  25.780  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 98.61 on 393 degrees of freedom
Multiple R-squared:  0.9547,	Adjusted R-squared:  0.954
F-statistic:  1380 on 6 and 393 DF,  p-value: < 2.2e-16

## ISLR::Hitters

In [47]:
df_hitters <- ISLR::Hitters
head(df_hitters)

                  AtBat Hits HmRun Runs RBI Walks Years CAtBat CHits CHmRun
-Andy Allanson    293    66   1    30   29  14     1     293     66    1
-Alan Ashby       315    81   7    24   38  39    14    3449    835   69
-Alvin Davis      479   130  18    66   72  76     3    1624    457   63
-Andre Dawson     496   141  20    65   78  37    11    5628   1575  225
-Andres Galarraga 321    87  10    39   42  30     2     396    101   12
-Alfredo Griffin  594   169   4    74   51  35    11    4408   1133   19
                  CRuns CRBI CWalks League Division PutOuts Assists Errors
-Andy Allanson     30    29   14    A      E        446      33     20
-Alan Ashby       321   414  375    N      W        632      43     10
-Alvin Davis      224   266  263    A      W        880      82     14
-Andre Dawson     828   838  354    N      E        200      11      3
-Andres Galarraga  48    46   33    N      E        805      40      4
-Alfredo Griffin  501   336  194    A      W        282     421     25
                  Salary NewLeague
-Andy Allanson       NA  A
-Alan Ashby       475.0  N
-Alvin Davis      480.0  A
-Andre Dawson     500.0  N
-Andres Galarraga  91.5  N
-Alfredo Griffin  750.0  A

In [48]:
null_hitters_lm <- lm(Salary ~ 1, data = df_hitters)
summary(null_hitters_lm)

Call:
lm(formula = Salary ~ 1, data = df_hitters)

Residuals:
   Min     1Q Median     3Q    Max
-468.4 -345.9 -110.9  214.1 1924.1

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   535.93      27.82   19.27   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 451.1 on 262 degrees of freedom
  (59 observations deleted due to missingness)

In [49]:
full_hitters_lm <- lm(Salary ~ AtBat + Hits +	HmRun +	Runs +	RBI +	Walks +	Years +	CAtBat +	CHits +	CHmRun	+ CRuns	+ CRBI + CWalks	+ League	+ Division +	PutOuts	+ Assists +	Errors + NewLeague, data = df_hitters)
summary(full_hitters_lm)

Call:
lm(formula = Salary ~ AtBat + Hits + HmRun + Runs + RBI + Walks +
    Years + CAtBat + CHits + CHmRun + CRuns + CRBI + CWalks +
    League + Division + PutOuts + Assists + Errors + NewLeague,
    data = df_hitters)

Residuals:
    Min      1Q  Median      3Q     Max
-907.62 -178.35  -31.11  139.09 1877.04

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  163.10359   90.77854   1.797 0.073622 .
AtBat         -1.97987    0.63398  -3.123 0.002008 **
Hits           7.50077    2.37753   3.155 0.001808 **
HmRun          4.33088    6.20145   0.698 0.485616
Runs          -2.37621    2.98076  -0.797 0.426122
RBI           -1.04496    2.60088  -0.402 0.688204
Walks          6.23129    1.82850   3.408 0.000766 ***
Years         -3.48905   12.41219  -0.281 0.778874
CAtBat        -0.17134    0.13524  -1.267 0.206380
CHits          0.13399    0.67455   0.199 0.842713
CHmRun        -0.17286    1.61724  -0.107 0.914967
CRuns          1.45430    0.75046   1.938 0.053795 .
CRBI           0.80771    0.69262   1.166 0.244691
CWalks        -0.81157    0.32808  -2.474 0.014057 *
LeagueN       62.59942   79.26140   0.790 0.430424
DivisionW   -116.84925   40.36695  -2.895 0.004141 **
PutOuts        0.28189    0.07744   3.640 0.000333 ***
Assists        0.37107    0.22120   1.678 0.094723 .
Errors        -3.36076    4.39163  -0.765 0.444857
NewLeagueN   -24.76233   79.00263  -0.313 0.754218
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 315.6 on 243 degrees of freedom
  (59 observations deleted due to missingness)
Multiple R-squared:  0.5461,	Adjusted R-squared:  0.5106
F-statistic: 15.39 on 19 and 243 DF,  p-value: < 2.2e-16

In [50]:
hitters_step_forward <- step(null_hitters_lm, scope=formula(full_hitters_lm), direction='forward', trace=0)
summary(hitters_step_forward)

Call:
lm(formula = Salary ~ CRBI + Hits + PutOuts + Division + AtBat +
    Walks + CWalks + CRuns + CAtBat + Assists, data = df_hitters)

Residuals:
    Min      1Q  Median      3Q     Max
-939.11 -176.87  -34.08  130.90 1910.55

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  162.53544   66.90784   2.429 0.015830 *
CRBI           0.77431    0.20961   3.694 0.000271 ***
Hits           6.91802    1.64665   4.201 3.69e-05 ***
PutOuts        0.29737    0.07444   3.995 8.50e-05 ***
DivisionW   -112.38006   39.21438  -2.866 0.004511 **
AtBat         -2.16865    0.53630  -4.044 7.00e-05 ***
Walks          5.77322    1.58483   3.643 0.000327 ***
CWalks        -0.83083    0.26359  -3.152 0.001818 **
CRuns          1.40825    0.39040   3.607 0.000373 ***
CAtBat        -0.13008    0.05550  -2.344 0.019858 *
Assists        0.28317    0.15766   1.796 0.073673 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 311.8 on 252 degrees of freedom
  (59 observations deleted due to missingness)
Multiple R-squared:  0.5405,	Adjusted R-squared:  0.5223
F-statistic: 29.64 on 10 and 252 DF,  p-value: < 2.2e-16

In [51]:
hitters_step_backward <- step(full_hitters_lm, direction='backward', trace=0)
summary(hitters_step_backward)

Call:
lm(formula = Salary ~ AtBat + Hits + Walks + CAtBat + CRuns +
    CRBI + CWalks + Division + PutOuts + Assists, data = df_hitters)

Residuals:
    Min      1Q  Median      3Q     Max
-939.11 -176.87  -34.08  130.90 1910.55

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  162.53544   66.90784   2.429 0.015830 *
AtBat         -2.16865    0.53630  -4.044 7.00e-05 ***
Hits           6.91802    1.64665   4.201 3.69e-05 ***
Walks          5.77322    1.58483   3.643 0.000327 ***
CAtBat        -0.13008    0.05550  -2.344 0.019858 *
CRuns          1.40825    0.39040   3.607 0.000373 ***
CRBI           0.77431    0.20961   3.694 0.000271 ***
CWalks        -0.83083    0.26359  -3.152 0.001818 **
DivisionW   -112.38006   39.21438  -2.866 0.004511 **
PutOuts        0.29737    0.07444   3.995 8.50e-05 ***
Assists        0.28317    0.15766   1.796 0.073673 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 311.8 on 252 degrees of freedom
  (59 observations deleted due to missingness)
Multiple R-squared:  0.5405,	Adjusted R-squared:  0.5223
F-statistic: 29.64 on 10 and 252 DF,  p-value: < 2.2e-16

In [52]:
hitters_step_both <- step(full_hitters_lm, direction = "both", trace = 0)
summary(hitters_step_both)

Call:
lm(formula = Salary ~ AtBat + Hits + Walks + CAtBat + CRuns +
    CRBI + CWalks + Division + PutOuts + Assists, data = df_hitters)

Residuals:
    Min      1Q  Median      3Q     Max
-939.11 -176.87  -34.08  130.90 1910.55

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  162.53544   66.90784   2.429 0.015830 *
AtBat         -2.16865    0.53630  -4.044 7.00e-05 ***
Hits           6.91802    1.64665   4.201 3.69e-05 ***
Walks          5.77322    1.58483   3.643 0.000327 ***
CAtBat        -0.13008    0.05550  -2.344 0.019858 *
CRuns          1.40825    0.39040   3.607 0.000373 ***
CRBI           0.77431    0.20961   3.694 0.000271 ***
CWalks        -0.83083    0.26359  -3.152 0.001818 **
DivisionW   -112.38006   39.21438  -2.866 0.004511 **
PutOuts        0.29737    0.07444   3.995 8.50e-05 ***
Assists        0.28317    0.15766   1.796 0.073673 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 311.8 on 252 degrees of freedom
  (59 observations deleted due to missingness)
Multiple R-squared:  0.5405,	Adjusted R-squared:  0.5223
F-statistic: 29.64 on 10 and 252 DF,  p-value: < 2.2e-16

## ISLR::Wage wage

In [53]:
df_wage <- ISLR::Wage
head(df_wage)

       year age maritl           race     education       region
231655 2006 18  1. Never Married 1. White 1. < HS Grad    2. Middle Atlantic
86582  2004 24  1. Never Married 1. White 4. College Grad 2. Middle Atlantic
161300 2003 45  2. Married       1. White 3. Some College 2. Middle Atlantic
155159 2003 43  2. Married       3. Asian 4. College Grad 2. Middle Atlantic
11443  2005 50  4. Divorced      1. White 2. HS Grad      2. Middle Atlantic
376662 2008 54  2. Married       1. White 4. College Grad 2. Middle Atlantic
       jobclass       health         health_ins logwage  wage
231655 1. Industrial  1. <=Good      2. No      4.318063  75.04315
86582  2. Information 2. >=Very Good 2. No      4.255273  70.47602
161300 1. Industrial  1. <=Good      1. Yes     4.875061 130.98218
155159 2. Information 2. >=Very Good 1. Yes     5.041393 154.68529
11443  2. Information 1. <=Good      1. Yes     4.318063  75.04315
376662 2. Information 2. >=Very Good 1. Yes     4.845098 127.11574

In [54]:
null_wage_lm <- lm(wage ~ 1, data = df_wage)
summary(null_wage_lm)

Call:
lm(formula = wage ~ 1, data = df_wage)

Residuals:
    Min      1Q  Median      3Q     Max
-91.618 -26.320  -6.782  16.977 206.639

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 111.7036     0.7619   146.6   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 41.73 on 2999 degrees of freedom

In [55]:
full_wage_lm <- lm(wage ~ year + age + maritl +	race + education + jobclass + health + health_ins +	logwage, data = df_wage)
summary(full_wage_lm)

Call:
lm(formula = wage ~ year + age + maritl + race + education +
    jobclass + health + health_ins + logwage, data = df_wage)

Residuals:
    Min      1Q  Median      3Q     Max
-16.721  -5.359  -3.058   0.712  94.152

Coefficients:
                             Estimate Std. Error t value Pr(>|t|)
(Intercept)                 -42.18179  229.31872  -0.184   0.8541
year                         -0.18561    0.11449  -1.621   0.1051
age                          -0.01716    0.02317  -0.740   0.4592
maritl2. Married             -1.46198    0.65235  -2.241   0.0251 *
maritl3. Widowed             -3.49564    2.96917  -1.177   0.2392
maritl4. Divorced            -1.27917    1.07126  -1.194   0.2325
maritl5. Separated           -2.50237    1.79938  -1.391   0.1644
race2. Black                 -0.53547    0.79644  -0.672   0.5014
race3. Asian                 -0.41331    0.96561  -0.428   0.6687
race4. Other                  0.68373    2.10209   0.325   0.7450
education2. HS Grad          -1.53915    0.88136  -1.746   0.0809 .
education3. Some College     -2.38319    0.94682  -2.517   0.0119 *
education4. College Grad     -0.77893    0.97362  -0.800   0.4238
education5. Advanced Degree   4.86794    1.10266   4.415 1.05e-05 ***
jobclass2. Information        0.64614    0.49152   1.315   0.1887
health2. >=Very Good         -0.18688    0.52922  -0.353   0.7240
health_ins2. No               4.41498    0.54460   8.107 7.51e-16 ***
logwage                     113.26508    0.82815 136.769  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 12.61 on 2982 degrees of freedom
Multiple R-squared:  0.9092,	Adjusted R-squared:  0.9087
F-statistic:  1756 on 17 and 2982 DF,  p-value: < 2.2e-16

In [56]:
wage_step_forward <- step(null_wage_lm, scope=formula(full_wage_lm), direction='forward', trace=0)
summary(wage_step_forward)

Call:
lm(formula = wage ~ logwage + education + health_ins + age +
    year, data = df_wage)

Residuals:
    Min      1Q  Median      3Q     Max
-16.396  -5.268  -3.153   0.544  93.885

Coefficients:
                             Estimate Std. Error t value Pr(>|t|)
(Intercept)                 -61.52771  228.67273  -0.269   0.7879
logwage                     112.91513    0.79967 141.202  < 2e-16 ***
education2. HS Grad          -1.45590    0.87702  -1.660   0.0970 .
education3. Some College     -2.18528    0.93788  -2.330   0.0199 *
education4. College Grad     -0.49595    0.95411  -0.520   0.6032
education5. Advanced Degree   5.24707    1.06970   4.905 9.83e-07 ***
health_ins2. No               4.32533    0.54188   7.982 2.03e-15 ***
age                          -0.03702    0.02057  -1.800   0.0720 .
year                         -0.17534    0.11415  -1.536   0.1246
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 12.61 on 2991 degrees of freedom
Multiple R-squared:  0.9089,	Adjusted R-squared:  0.9087
F-statistic:  3732 on 8 and 2991 DF,  p-value: < 2.2e-16

In [57]:
wage_step_backward <- step(full_wage_lm, direction='backward', trace=0)
summary(wage_step_backward)

Call:
lm(formula = wage ~ year + age + education + health_ins + logwage,
    data = df_wage)

Residuals:
    Min      1Q  Median      3Q     Max
-16.396  -5.268  -3.153   0.544  93.885

Coefficients:
                             Estimate Std. Error t value Pr(>|t|)
(Intercept)                 -61.52771  228.67273  -0.269   0.7879
year                         -0.17534    0.11415  -1.536   0.1246
age                          -0.03702    0.02057  -1.800   0.0720 .
education2. HS Grad          -1.45590    0.87702  -1.660   0.0970 .
education3. Some College     -2.18528    0.93788  -2.330   0.0199 *
education4. College Grad     -0.49595    0.95411  -0.520   0.6032
education5. Advanced Degree   5.24707    1.06970   4.905 9.83e-07 ***
health_ins2. No               4.32533    0.54188   7.982 2.03e-15 ***
logwage                     112.91513    0.79967 141.202  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 12.61 on 2991 degrees of freedom
Multiple R-squared:  0.9089,	Adjusted R-squared:  0.9087
F-statistic:  3732 on 8 and 2991 DF,  p-value: < 2.2e-16

In [58]:
wage_step_both <- step(full_wage_lm, direction = "both", trace = 0)
summary(wage_step_both)

Call:
lm(formula = wage ~ year + age + education + health_ins + logwage,
    data = df_wage)

Residuals:
    Min      1Q  Median      3Q     Max
-16.396  -5.268  -3.153   0.544  93.885

Coefficients:
                             Estimate Std. Error t value Pr(>|t|)
(Intercept)                 -61.52771  228.67273  -0.269   0.7879
year                         -0.17534    0.11415  -1.536   0.1246
age                          -0.03702    0.02057  -1.800   0.0720 .
education2. HS Grad          -1.45590    0.87702  -1.660   0.0970 .
education3. Some College     -2.18528    0.93788  -2.330   0.0199 *
education4. College Grad     -0.49595    0.95411  -0.520   0.6032
education5. Advanced Degree   5.24707    1.06970   4.905 9.83e-07 ***
health_ins2. No               4.32533    0.54188   7.982 2.03e-15 ***
logwage                     112.91513    0.79967 141.202  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 12.61 on 2991 degrees of freedom
Multiple R-squared:  0.9089,	Adjusted R-squared:  0.9087
F-statistic:  3732 on 8 and 2991 DF,  p-value: < 2.2e-16

## ISLR::College outstate

In [59]:
df_college <- ISLR::College
head(df_college)

                             Private Apps Accept Enroll Top10perc Top25perc
Abilene Christian University Yes     1660 1232   721    23        52
Adelphi University           Yes     2186 1924   512    16        29
Adrian College               Yes     1428 1097   336    22        50
Agnes Scott College          Yes      417  349   137    60        89
Alaska Pacific University    Yes      193  146    55    16        44
Albertson College            Yes      587  479   158    38        62
                             F.Undergrad P.Undergrad Outstate Room.Board Books
Abilene Christian University 2885         537         7440    3300       450
Adelphi University           2683        1227        12280    6450       750
Adrian College               1036          99        11250    3750       400
Agnes Scott College           510          63        12960    5450       450
Alaska Pacific University     249         869         7560    4120       800
Albertson College             678          41        13500    3335       500
                             Personal PhD Terminal S.F.Ratio perc.alumni Expend
Abilene Christian University 2200     70  78       18.1      12           7041
Adelphi University           1500     29  30       12.2      16          10527
Adrian College               1165     53  66       12.9      30           8735
Agnes Scott College           875     92  97        7.7      37          19016
Alaska Pacific University    1500     76  72       11.9       2          10922
Albertson College             675     67  73        9.4      11           9727
                             Grad.Rate
Abilene Christian University 60
Adelphi University           56
Adrian College               54
Agnes Scott College          59
Alaska Pacific University    15
Albertson College            55

In [60]:
null_college_lm <- lm(Outstate ~ 1, data = df_college)
summary(null_college_lm)

Call:
lm(formula = Outstate ~ 1, data = df_college)

Residuals:
    Min      1Q  Median      3Q     Max
-8100.7 -3120.7  -450.7  2484.3 11259.3

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  10440.7      144.3   72.34   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4023 on 776 degrees of freedom

In [61]:
full_college_lm <- lm(Outstate ~ Private + Apps + Accept + Enroll + Top10perc + Top25perc + F.Undergrad + P.Undergrad + Room.Board + Books + Personal + PhD + Terminal + S.F.Ratio + perc.alumni + Expend + Grad.Rate, data = df_college)
summary(full_college_lm)

Call:
lm(formula = Outstate ~ Private + Apps + Accept + Enroll + Top10perc +
    Top25perc + F.Undergrad + P.Undergrad + Room.Board + Books +
    Personal + PhD + Terminal + S.F.Ratio + perc.alumni + Expend +
    Grad.Rate, data = df_college)

Residuals:
    Min      1Q  Median      3Q     Max
-6782.6 -1267.5   -40.9  1244.5  9953.3

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.587e+03  7.660e+02  -2.072  0.03860 *
PrivateYes   2.264e+03  2.480e+02   9.128  < 2e-16 ***
Apps        -3.034e-01  6.734e-02  -4.506 7.64e-06 ***
Accept       8.124e-01  1.293e-01   6.286 5.51e-10 ***
Enroll      -5.492e-01  3.541e-01  -1.551  0.12134
Top10perc    2.834e+01  1.098e+01   2.582  0.01002 *
Top25perc   -3.779e+00  8.475e+00  -0.446  0.65576
F.Undergrad -9.567e-02  6.152e-02  -1.555  0.12038
P.Undergrad  1.166e-02  6.049e-02   0.193  0.84720
Room.Board   8.816e-01  8.558e-02  10.302  < 2e-16 ***
Books       -4.592e-01  4.479e-01  -1.025  0.30551
Personal    -2.294e-01  1.183e-01  -1.940  0.05280 .
PhD          1.124e+01  8.730e+00   1.288  0.19822
Terminal     2.467e+01  9.538e+00   2.587  0.00988 **
S.F.Ratio   -4.644e+01  2.441e+01  -1.902  0.05753 .
perc.alumni  4.180e+01  7.561e+00   5.528 4.45e-08 ***
Expend       1.990e-01  2.269e-02   8.769  < 2e-16 ***
Grad.Rate    2.400e+01  5.506e+00   4.359 1.49e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1958 on 759 degrees of freedom
Multiple R-squared:  0.7684,	Adjusted R-squared:  0.7632
F-statistic: 148.1 on 17 and 759 DF,  p-value: < 2.2e-16

In [62]:
college_step_forward <- step(null_college_lm, scope=formula(full_college_lm), direction='forward', trace=0)
summary(college_step_forward)

Call:
lm(formula = Outstate ~ Expend + Private + Room.Board + perc.alumni +
    PhD + Grad.Rate + Personal + Terminal + S.F.Ratio + Accept +
    F.Undergrad + Apps + Top10perc + Enroll, data = df_college)

Residuals:
    Min      1Q  Median      3Q     Max
-6740.7 -1271.7   -40.8  1246.6  9907.5

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.817e+03  7.346e+02  -2.474  0.01360 *
Expend       2.004e-01  2.226e-02   9.000  < 2e-16 ***
PrivateYes   2.257e+03  2.474e+02   9.122  < 2e-16 ***
Room.Board   8.742e-01  8.446e-02  10.350  < 2e-16 ***
perc.alumni  4.195e+01  7.526e+00   5.574 3.45e-08 ***
PhD          1.270e+01  8.609e+00   1.475  0.14071
Grad.Rate    2.383e+01  5.425e+00   4.393 1.28e-05 ***
Personal    -2.478e-01  1.157e-01  -2.143  0.03244 *
Terminal     2.297e+01  9.387e+00   2.447  0.01462 *
S.F.Ratio   -4.701e+01  2.438e+01  -1.928  0.05420 .
Accept       8.024e-01  1.274e-01   6.298 5.10e-10 ***
F.Undergrad -9.570e-02  5.930e-02  -1.614  0.10701
Apps        -2.999e-01  6.675e-02  -4.493 8.11e-06 ***
Top10perc    2.366e+01  6.601e+00   3.584  0.00036 ***
Enroll      -5.373e-01  3.513e-01  -1.530  0.12654
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1955 on 762 degrees of freedom
Multiple R-squared:  0.768,	Adjusted R-squared:  0.7638
F-statistic: 180.2 on 14 and 762 DF,  p-value: < 2.2e-16

In [63]:
college_step_backward <- step(full_college_lm, direction='backward', trace=0)
summary(college_step_backward)

Call:
lm(formula = Outstate ~ Private + Apps + Accept + Enroll + Top10perc +
    F.Undergrad + Room.Board + Personal + PhD + Terminal + S.F.Ratio +
    perc.alumni + Expend + Grad.Rate, data = df_college)

Residuals:
    Min      1Q  Median      3Q     Max
-6740.7 -1271.7   -40.8  1246.6  9907.5

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.817e+03  7.346e+02  -2.474  0.01360 *
PrivateYes   2.257e+03  2.474e+02   9.122  < 2e-16 ***
Apps        -2.999e-01  6.675e-02  -4.493 8.11e-06 ***
Accept       8.024e-01  1.274e-01   6.298 5.10e-10 ***
Enroll      -5.373e-01  3.513e-01  -1.530  0.12654
Top10perc    2.366e+01  6.601e+00   3.584  0.00036 ***
F.Undergrad -9.570e-02  5.930e-02  -1.614  0.10701
Room.Board   8.742e-01  8.446e-02  10.350  < 2e-16 ***
Personal    -2.478e-01  1.157e-01  -2.143  0.03244 *
PhD          1.270e+01  8.609e+00   1.475  0.14071
Terminal     2.297e+01  9.387e+00   2.447  0.01462 *
S.F.Ratio   -4.701e+01  2.438e+01  -1.928  0.05420 .
perc.alumni  4.195e+01  7.526e+00   5.574 3.45e-08 ***
Expend       2.004e-01  2.226e-02   9.000  < 2e-16 ***
Grad.Rate    2.383e+01  5.425e+00   4.393 1.28e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1955 on 762 degrees of freedom
Multiple R-squared:  0.768,	Adjusted R-squared:  0.7638
F-statistic: 180.2 on 14 and 762 DF,  p-value: < 2.2e-16

In [64]:
college_step_both <- step(full_college_lm, direction = "both", trace = 0)
summary(college_step_both)

Call:
lm(formula = Outstate ~ Private + Apps + Accept + Enroll + Top10perc +
    F.Undergrad + Room.Board + Personal + PhD + Terminal + S.F.Ratio +
    perc.alumni + Expend + Grad.Rate, data = df_college)

Residuals:
    Min      1Q  Median      3Q     Max
-6740.7 -1271.7   -40.8  1246.6  9907.5

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.817e+03  7.346e+02  -2.474  0.01360 *
PrivateYes   2.257e+03  2.474e+02   9.122  < 2e-16 ***
Apps        -2.999e-01  6.675e-02  -4.493 8.11e-06 ***
Accept       8.024e-01  1.274e-01   6.298 5.10e-10 ***
Enroll      -5.373e-01  3.513e-01  -1.530  0.12654
Top10perc    2.366e+01  6.601e+00   3.584  0.00036 ***
F.Undergrad -9.570e-02  5.930e-02  -1.614  0.10701
Room.Board   8.742e-01  8.446e-02  10.350  < 2e-16 ***
Personal    -2.478e-01  1.157e-01  -2.143  0.03244 *
PhD          1.270e+01  8.609e+00   1.475  0.14071
Terminal     2.297e+01  9.387e+00   2.447  0.01462 *
S.F.Ratio   -4.701e+01  2.438e+01  -1.928  0.05420 .
perc.alumni  4.195e+01  7.526e+00   5.574 3.45e-08 ***
Expend       2.004e-01  2.226e-02   9.000  < 2e-16 ***
Grad.Rate    2.383e+01  5.425e+00   4.393 1.28e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1955 on 762 degrees of freedom
Multiple R-squared:  0.768,	Adjusted R-squared:  0.7638
F-statistic: 180.2 on 14 and 762 DF,  p-value: < 2.2e-16

## ISLR::OJ price

In [68]:
df_oj <- ISLR::OJ
head(df_oj)

  Purchase WeekofPurchase StoreID PriceCH PriceMM DiscCH DiscMM SpecialCH
1 CH       237            1       1.75    1.99    0.00   0.0    0
2 CH       239            1       1.75    1.99    0.00   0.3    0
3 CH       245            1       1.86    2.09    0.17   0.0    0
4 MM       227            1       1.69    1.69    0.00   0.0    0
5 CH       228            7       1.69    1.69    0.00   0.0    0
6 CH       230            7       1.69    1.99    0.00   0.0    0
  SpecialMM LoyalCH  SalePriceMM SalePriceCH PriceDiff Store7 PctDiscMM
1 0         0.500000 1.99        1.75         0.24     No     0.000000
2 1         0.600000 1.69        1.75        -0.06     No     0.150754
3 0         0.680000 2.09        1.69         0.40     No     0.000000
4 0         0.400000 1.69        1.69         0.00     No     0.000000
5 0         0.956535 1.69        1.69         0.00     Yes    0.000000
6 1         0.965228 1.99        1.69         0.30     Yes    0.000000
  PctDiscCH ListPriceDiff STORE
1 0.000000  0.24          1
2 0.000000  0.24          1
3 0.091398  0.23          1
4 0.000000  0.00          1
5 0.000000  0.00          0
6 0.000000  0.30          0

In [69]:
null_oj_lm <- lm(PriceDiff ~ 1, data = df_oj)
summary(null_oj_lm)

Call:
lm(formula = PriceDiff ~ 1, data = df_oj)

Residuals:
     Min       1Q   Median       3Q      Max
-0.81649 -0.14649  0.08351  0.17351  0.49351

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.146486   0.008302   17.64   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.2716 on 1069 degrees of freedom

In [70]:
full_oj_lm <- lm(PriceDiff ~ StoreID + LoyalCH + Store7 + PctDiscMM + PctDiscCH + ListPriceDiff, data = df_oj)
summary(full_oj_lm)

Call:
lm(formula = PriceDiff ~ StoreID + LoyalCH + Store7 + PctDiscMM +
    PctDiscCH + ListPriceDiff, data = df_oj)

Residuals:
      Min        1Q    Median        3Q       Max
-0.040203 -0.003972 -0.000869  0.002721  0.040780

Coefficients:
                Estimate Std. Error  t value Pr(>|t|)
(Intercept)    0.0127905  0.0014606    8.757  < 2e-16 ***
StoreID       -0.0014072  0.0004037   -3.486 0.000511 ***
LoyalCH       -0.0006949  0.0011078   -0.627 0.530599
Store7Yes      0.0110670  0.0020085    5.510  4.5e-08 ***
PctDiscMM     -2.1070058  0.0033236 -633.955  < 2e-16 ***
PctDiscCH      1.8608085  0.0057019  326.351  < 2e-16 ***
ListPriceDiff  0.9637802  0.0032377  297.670  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.01078 on 1063 degrees of freedom
Multiple R-squared:  0.9984,	Adjusted R-squared:  0.9984
F-statistic: 1.129e+05 on 6 and 1063 DF,  p-value: < 2.2e-16

In [71]:
oj_step_forward <- step(null_oj_lm, scope=formula(full_oj_lm), direction='forward', trace=0)
summary(oj_step_forward)

Call:
lm(formula = PriceDiff ~ PctDiscMM + PctDiscCH + ListPriceDiff +
    Store7 + StoreID, data = df_oj)

Residuals:
      Min        1Q    Median        3Q       Max
-0.039930 -0.003889 -0.000933  0.002685  0.040659

Coefficients:
                Estimate Std. Error  t value Pr(>|t|)
(Intercept)    0.0125306  0.0014002    8.949  < 2e-16 ***
PctDiscMM     -2.1069811  0.0033224 -634.172  < 2e-16 ***
PctDiscCH      1.8605415  0.0056843  327.310  < 2e-16 ***
ListPriceDiff  0.9636525  0.0032304  298.306  < 2e-16 ***
Store7Yes      0.0111250  0.0020058    5.546 3.68e-08 ***
StoreID       -0.0014372  0.0004007   -3.586  0.00035 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.01078 on 1064 degrees of freedom
Multiple R-squared:  0.9984,	Adjusted R-squared:  0.9984
F-statistic: 1.356e+05 on 5 and 1064 DF,  p-value: < 2.2e-16

In [72]:
oj_step_backward <- step(full_oj_lm, direction='backward', trace=0)
summary(oj_step_backward)

Call:
lm(formula = PriceDiff ~ StoreID + Store7 + PctDiscMM + PctDiscCH +
    ListPriceDiff, data = df_oj)

Residuals:
      Min        1Q    Median        3Q       Max
-0.039930 -0.003889 -0.000933  0.002685  0.040659

Coefficients:
                Estimate Std. Error  t value Pr(>|t|)
(Intercept)    0.0125306  0.0014002    8.949  < 2e-16 ***
StoreID       -0.0014372  0.0004007   -3.586  0.00035 ***
Store7Yes      0.0111250  0.0020058    5.546 3.68e-08 ***
PctDiscMM     -2.1069811  0.0033224 -634.172  < 2e-16 ***
PctDiscCH      1.8605415  0.0056843  327.310  < 2e-16 ***
ListPriceDiff  0.9636525  0.0032304  298.306  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.01078 on 1064 degrees of freedom
Multiple R-squared:  0.9984,	Adjusted R-squared:  0.9984
F-statistic: 1.356e+05 on 5 and 1064 DF,  p-value: < 2.2e-16

In [73]:
oj_step_both <- step(full_oj_lm, direction = "both", trace = 0)
summary(oj_step_both)

Call:
lm(formula = PriceDiff ~ StoreID + Store7 + PctDiscMM + PctDiscCH +
    ListPriceDiff, data = df_oj)

Residuals:
      Min        1Q    Median        3Q       Max
-0.039930 -0.003889 -0.000933  0.002685  0.040659

Coefficients:
                Estimate Std. Error  t value Pr(>|t|)
(Intercept)    0.0125306  0.0014002    8.949  < 2e-16 ***
StoreID       -0.0014372  0.0004007   -3.586  0.00035 ***
Store7Yes      0.0111250  0.0020058    5.546 3.68e-08 ***
PctDiscMM     -2.1069811  0.0033224 -634.172  < 2e-16 ***
PctDiscCH      1.8605415  0.0056843  327.310  < 2e-16 ***
ListPriceDiff  0.9636525  0.0032304  298.306  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.01078 on 1064 degrees of freedom
Multiple R-squared:  0.9984,	Adjusted R-squared:  0.9984
F-statistic: 1.356e+05 on 5 and 1064 DF,  p-value: < 2.2e-16