#### Limpeza do ambiente

rm(list=ls())

#### Carregar dados

In [2]:
df_auto <- read.csv("autos.csv", 
                    sep=",", 
                    header=TRUE)
head(df_auto)

  mpg      cylinders displacement horsepower weight   acceleration model_year
1 32.73684 4         290.3078     238.320    2106.556 19.57122     82
2 17.39074 6         412.6402     250.000    3206.695 12.74748     82
3 22.14352 4         311.8043     248.561    2517.969 19.85520     79
4 13.03664 8         487.1465     250.000    3978.048 13.87043     72
5 29.60550 4         253.9750     250.000    2272.608 18.46893     79
6 13.19762 6         477.8863     250.000    3871.286 16.36652     79
  origin name
1 1      car_0
2 3      car_1
3 2      car_2
4 1      car_3
5 1      car_4
6 2      car_5

#### Remover dados nulos

In [3]:
df_auto <- na.omit(df_auto)
head(df_auto)

  mpg      cylinders displacement horsepower weight   acceleration model_year
1 32.73684 4         290.3078     238.320    2106.556 19.57122     82
2 17.39074 6         412.6402     250.000    3206.695 12.74748     82
3 22.14352 4         311.8043     248.561    2517.969 19.85520     79
4 13.03664 8         487.1465     250.000    3978.048 13.87043     72
5 29.60550 4         253.9750     250.000    2272.608 18.46893     79
6 13.19762 6         477.8863     250.000    3871.286 16.36652     79
  origin name
1 1      car_0
2 3      car_1
3 2      car_2
4 1      car_3
5 1      car_4
6 2      car_5

#### Transformando dados específicos para factor

In [4]:
df_auto$cylinders <- factor(df_auto$cylinders)
df_auto$origin <- factor(df_auto$origin)
head(df_auto)

  mpg      cylinders displacement horsepower weight   acceleration model_year
1 32.73684 4         290.3078     238.320    2106.556 19.57122     82
2 17.39074 6         412.6402     250.000    3206.695 12.74748     82
3 22.14352 4         311.8043     248.561    2517.969 19.85520     79
4 13.03664 8         487.1465     250.000    3978.048 13.87043     72
5 29.60550 4         253.9750     250.000    2272.608 18.46893     79
6 13.19762 6         477.8863     250.000    3871.286 16.36652     79
  origin name
1 1      car_0
2 3      car_1
3 2      car_2
4 1      car_3
5 1      car_4
6 2      car_5

#### Criando modelo vazio

In [5]:
lm_auto_null <- lm(mpg ~ 1, data = df_auto)
summary(lm_auto_null)

Call:
lm(formula = mpg ~ 1, data = df_auto)

Residuals:
     Min       1Q   Median       3Q      Max
-17.7100  -6.2580   0.6707   6.3069  20.6833

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  25.7100     0.4256   60.41   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 8.49 on 397 degrees of freedom

#### Criando modelo com todos os parâmetros

In [6]:
lm_auto_full <- lm(mpg ~ cylinders + displacement + horsepower + weight + acceleration + model_year + origin, data = df_auto)
summary(lm_auto_full)

Call:
lm(formula = mpg ~ cylinders + displacement + horsepower + weight +
    acceleration + model_year + origin, data = df_auto)

Residuals:
   Min     1Q Median     3Q    Max
-8.443 -1.624 -0.008  1.652  7.809

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)  59.5320218  3.4542560  17.234  < 2e-16 ***
cylinders4   -2.1237686  1.3218691  -1.607   0.1090
cylinders5   -1.4146486  1.4182585  -0.997   0.3192
cylinders6   -2.3388243  1.3626035  -1.716   0.0869 .
cylinders8   -2.1887534  1.4474907  -1.512   0.1313
displacement  0.0057157  0.0061908   0.923   0.3565
horsepower   -0.0292244  0.0048687  -6.002 4.48e-09 ***
weight       -0.0106141  0.0007038 -15.080  < 2e-16 ***
acceleration  0.0243317  0.0474132   0.513   0.6081
model_year    0.0226685  0.0369357   0.614   0.5398
origin2       0.1355393  0.3112033   0.436   0.6634
origin3       0.0566659  0.3314891   0.171   0.8644
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.595 on 386 degrees of freedom
Multiple R-squared:  0.9092,	Adjusted R-squared:  0.9066
F-statistic: 351.4 on 11 and 386 DF,  p-value: < 2.2e-16

#### Criando modelo utilizando Step Forward

In [7]:
step_auto_forward <- step(lm_auto_null, scope=formula(lm_auto_full), direction='forward', trace= 1)
summary(step_auto_forward)

Start:  AIC=1703.57
mpg ~ 1

               Df Sum of Sq     RSS     AIC
+ weight        1   25695.0  2921.6  797.39
+ displacement  1   24186.1  4430.5  963.11
+ cylinders     4   14997.6 13619.0 1416.04
+ horsepower    1   11585.6 17031.0 1499.02
+ acceleration  1    2959.4 25657.2 1662.12
<none>                      28616.6 1703.57
+ origin        2     193.7 28422.9 1704.86
+ model_year    1      43.6 28573.0 1704.96

Step:  AIC=797.39
mpg ~ weight

               Df Sum of Sq    RSS    AIC
+ horsepower    1   275.892 2645.8 759.91
+ cylinders     4    65.937 2855.7 796.31
<none>                      2921.6 797.39
+ displacement  1     7.177 2914.5 798.41
+ acceleration  1     2.704 2918.9 799.02
+ model_year    1     1.590 2920.1 799.18
+ origin        2     3.622 2918.0 800.90

Step:  AIC=759.91
mpg ~ weight + horsepower

               Df Sum of Sq    RSS    AIC
<none>                      2645.8 759.91
+ displacement  1     6.033 2639.7 761.01
+ model_year    1     3.591 2642.2 761.37
+ acceleration  1     3.346 2642.4 761.41
+ cylinders     4    35.264 2610.5 762.57
+ origin        2     0.932 2644.8 763.77

Call:
lm(formula = mpg ~ weight + horsepower, data = df_auto)

Residuals:
    Min      1Q  Median      3Q     Max
-8.6853 -1.6186 -0.0269  1.6629  7.6636

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) 60.0246860  0.8402269  71.439  < 2e-16 ***
weight      -0.0100794  0.0002175 -46.343  < 2e-16 ***
horsepower  -0.0288890  0.0045013  -6.418 3.96e-10 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.588 on 395 degrees of freedom
Multiple R-squared:  0.9075,	Adjusted R-squared:  0.9071
F-statistic:  1939 on 2 and 395 DF,  p-value: < 2.2e-16

#### Criando modelo utilizando Step Backward

In [8]:
step_auto_backward <- step(lm_auto_full, direction='backward', trace= 1)
summary(step_auto_backward )

Start:  AIC=770.75
mpg ~ cylinders + displacement + horsepower + weight + acceleration +
    model_year + origin

               Df Sum of Sq    RSS    AIC
- origin        2      1.28 2599.8 766.94
- cylinders     4     33.40 2631.9 767.83
- acceleration  1      1.77 2600.3 769.02
- model_year    1      2.54 2601.1 769.13
- displacement  1      5.74 2604.3 769.62
<none>                      2598.5 770.75
- horsepower    1    242.55 2841.1 804.26
- weight        1   1530.94 4129.5 953.10

Step:  AIC=766.94
mpg ~ cylinders + displacement + horsepower + weight + acceleration +
    model_year

               Df Sum of Sq    RSS    AIC
- cylinders     4     33.02 2632.8 763.96
- acceleration  1      1.64 2601.4 765.19
- model_year    1      2.34 2602.1 765.30
- displacement  1      6.28 2606.1 765.90
<none>                      2599.8 766.94
- horsepower    1    247.52 2847.3 801.14
- weight        1   1546.18 4146.0 950.69

Step:  AIC=763.96
mpg ~ displacement + horsepower + weight + acceleration + model_year

               Df Sum of Sq    RSS    AIC
- acceleration  1      3.12 2635.9 762.44
- model_year    1      4.46 2637.3 762.64
- displacement  1      5.23 2638.0 762.75
<none>                      2632.8 763.96
- horsepower    1    275.77 2908.6 801.61
- weight        1   1554.58 4187.4 946.65

Step:  AIC=762.44
mpg ~ displacement + horsepower + weight + model_year

               Df Sum of Sq    RSS    AIC
- model_year    1      3.79 2639.7 761.01
- displacement  1      6.23 2642.2 761.37
<none>                      2635.9 762.44
- horsepower    1    277.00 2912.9 800.20
- weight        1   1643.32 4279.3 953.28

Step:  AIC=761.01
mpg ~ displacement + horsepower + weight

               Df Sum of Sq    RSS    AIC
- displacement  1      6.03 2645.8 759.91
<none>                      2639.7 761.01
- horsepower    1    274.75 2914.5 798.41
- weight        1   1640.41 4280.1 951.36

Step:  AIC=759.91
mpg ~ horsepower + weight

             Df Sum of Sq     RSS     AIC
<none>                     2645.8  759.91
- horsepower  1     275.9  2921.6  797.39
- weight      1   14385.2 17031.0 1499.02

Call:
lm(formula = mpg ~ horsepower + weight, data = df_auto)

Residuals:
    Min      1Q  Median      3Q     Max
-8.6853 -1.6186 -0.0269  1.6629  7.6636

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) 60.0246860  0.8402269  71.439  < 2e-16 ***
horsepower  -0.0288890  0.0045013  -6.418 3.96e-10 ***
weight      -0.0100794  0.0002175 -46.343  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.588 on 395 degrees of freedom
Multiple R-squared:  0.9075,	Adjusted R-squared:  0.9071
F-statistic:  1939 on 2 and 395 DF,  p-value: < 2.2e-16

#### Criando modelo com Step Forward e Backward

In [9]:
step_auto_both <- step(lm_auto_full, direction = "both", trace = 1)
summary(step_auto_both)

Start:  AIC=770.75
mpg ~ cylinders + displacement + horsepower + weight + acceleration +
    model_year + origin

               Df Sum of Sq    RSS    AIC
- origin        2      1.28 2599.8 766.94
- cylinders     4     33.40 2631.9 767.83
- acceleration  1      1.77 2600.3 769.02
- model_year    1      2.54 2601.1 769.13
- displacement  1      5.74 2604.3 769.62
<none>                      2598.5 770.75
- horsepower    1    242.55 2841.1 804.26
- weight        1   1530.94 4129.5 953.10

Step:  AIC=766.94
mpg ~ cylinders + displacement + horsepower + weight + acceleration +
    model_year

               Df Sum of Sq    RSS    AIC
- cylinders     4     33.02 2632.8 763.96
- acceleration  1      1.64 2601.4 765.19
- model_year    1      2.34 2602.1 765.30
- displacement  1      6.28 2606.1 765.90
<none>                      2599.8 766.94
+ origin        2      1.28 2598.5 770.75
- horsepower    1    247.52 2847.3 801.14
- weight        1   1546.18 4146.0 950.69

Step:  AIC=763.96
mpg ~ displacement + horsepower + weight + acceleration + model_year

               Df Sum of Sq    RSS    AIC
- acceleration  1      3.12 2635.9 762.44
- model_year    1      4.46 2637.3 762.64
- displacement  1      5.23 2638.0 762.75
<none>                      2632.8 763.96
+ cylinders     4     33.02 2599.8 766.94
+ origin        2      0.90 2631.9 767.83
- horsepower    1    275.77 2908.6 801.61
- weight        1   1554.58 4187.4 946.65

Step:  AIC=762.44
mpg ~ displacement + horsepower + weight + model_year

               Df Sum of Sq    RSS    AIC
- model_year    1      3.79 2639.7 761.01
- displacement  1      6.23 2642.2 761.37
<none>                      2635.9 762.44
+ acceleration  1      3.12 2632.8 763.96
+ cylinders     4     34.49 2601.4 765.19
+ origin        2      0.72 2635.2 766.33
- horsepower    1    277.00 2912.9 800.20
- weight        1   1643.32 4279.3 953.28

Step:  AIC=761.01
mpg ~ displacement + horsepower + weight

               Df Sum of Sq    RSS    AIC
- displacement  1      6.03 2645.8 759.91
<none>                      2639.7 761.01
+ model_year    1      3.79 2635.9 762.44
+ acceleration  1      2.45 2637.3 762.64
+ cylinders     4     36.30 2603.4 763.49
+ origin        2      0.51 2639.2 764.93
- horsepower    1    274.75 2914.5 798.41
- weight        1   1640.41 4280.1 951.36

Step:  AIC=759.91
mpg ~ horsepower + weight

               Df Sum of Sq     RSS     AIC
<none>                       2645.8  759.91
+ displacement  1       6.0  2639.7  761.01
+ model_year    1       3.6  2642.2  761.37
+ acceleration  1       3.3  2642.4  761.41
+ cylinders     4      35.3  2610.5  762.57
+ origin        2       0.9  2644.8  763.77
- horsepower    1     275.9  2921.6  797.39
- weight        1   14385.2 17031.0 1499.02

Call:
lm(formula = mpg ~ horsepower + weight, data = df_auto)

Residuals:
    Min      1Q  Median      3Q     Max
-8.6853 -1.6186 -0.0269  1.6629  7.6636

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) 60.0246860  0.8402269  71.439  < 2e-16 ***
horsepower  -0.0288890  0.0045013  -6.418 3.96e-10 ***
weight      -0.0100794  0.0002175 -46.343  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.588 on 395 degrees of freedom
Multiple R-squared:  0.9075,	Adjusted R-squared:  0.9071
F-statistic:  1939 on 2 and 395 DF,  p-value: < 2.2e-16

#### Previção dos dados originais utilizando o modelo com Backward

In [10]:
predict_auto_backward <- predict(step_auto_backward)
summary(predict_auto_backward)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  7.663  19.776  26.556  25.710  31.859  43.750

#### Predição com dados novos utilizando o com modelo Backward

In [11]:
new_car <- data.frame(mpg = 20,
  cylinders = 4,
  horsepower = 100,
  weight = 1800,
  acceleration = 15,
  year = 82,
  origin = 1)

predict_new_car <- predict(step_auto_backward, newdata = new_car)
summary(predict_new_car)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  38.99   38.99   38.99   38.99   38.99   38.99